---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Nosotros from '../components/Nosotros.astro';
import Servicios from '../components/Servicios.astro';
import Contacto from '../components/Contacto.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Luz Dental | Tabasco</title>
	</head>
	<body>
 		<Header/>
		<main>
			<Hero/>
			<Nosotros/>
			<Servicios/>
			<Contacto/>
		</main>
		
	</body>
</html>
